@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<br />
@{
    if (!string.IsNullOrEmpty(ViewBag.SuccessMsg))
    {
        <script>
            swal({
                title: '@ViewBag.SuccessMsg',
                text: "Thank you for Registration",
                icon: "success",
                dangerMode: true,
                closeOnClickOutside: false,
            });
        </script>
    }
}
<p id="data"></p>
<body>
    <div>
        <input type="button" class="btn btn-primary" value="Create New Client" onclick="createAccount()" />
    </div>
    <br />
    <table class="display table table-bordered" id="tbl">

        <tr class="bg-primary">
            <th>Id</th>
            <th>Org.Name</th>
            <th>Subscriptions</th>
            <th>Services</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Contact Person</th>
            <th>Address</th>
            <th>CreateOn</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Id</td>
            <td>Org.Name</td>
            <td>Subscriptions</td>
            <td>Services</td>
            <td>Email</td>
            <td>Mobile</td>
            <td>Contact Person</td>
            <td>Address</td>
            <td>Date Created</td>
            <td>Actions</td>
        </tr>
    </table>
</body>

<script>
            $(document).ready(function () {
                loaddata();
            });
            function loaddata() {
                $.ajax({
                    url: '@Url.Action("ReadJsonFile", "Registration")',
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (result) {
                        alert(result)
                    },
                    error: function (result) {
                        alert(result)
                    }
                });
                function OnSuccess(result) {
                    var row = $("#tbl tr:last-child").removeAttr("style").clone(true);
                    $("#tbl tr").not($("#tbl tr:first-child")).remove();
                    var pop = $.parseJSON(result)
                    $.each(pop, function (i, val) {
                        $("td", row).eq(0).html(pop[i].Id);
                        $("td", row).eq(1).html(pop[i].Name);
                        $("td", row).eq(2).html("<ul><li>" + pop[i].Hostnames.join("</li><li>") + "</li></ul>");
                        $("td", row).eq(3).html("<ul><li>" + pop[i].Services.join("</li><li>") + "</li></ul>");
                        $("td", row).eq(4).html(pop[i].Email);
                        $("td", row).eq(5).html(pop[i].Mobile);
                        $("td", row).eq(6).html(pop[i].ContactPerson);
                        $("td", row).eq(7).html(pop[i].Address);
                        $("td", row).eq(8).html(pop[i].CreatedOn);
                        $("td", row).eq(9).html("<a href='#' onclick='editClient(" + pop[i].Id + ");'>Edit</a> &nbsp; <a href='#' onclick='deleteClient(" + pop[i].Id + ");'>Delete</a> ");
                        $("#tbl").append(row);
                        row = $("#tbl tr:last-child").clone(true);
                    });
                }
            }
            function createAccount() {
                var url = '@Url.Action("RegistrationForm", "Registration")';
                window.location.href = url;
            }
            function editClient(id) {
                var url = '@Url.Action("RegistrationForm", "Registration")' + '?clientId=' + id;
                window.location.href = url;
            }
            function deleteClient(id) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this file!",
                    icon: "warning",
                    buttons: ["Cancel","Yes, delete it!"],
                    dangerMode: true,
                    closeOnClickOutside: false,

                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $(".msg").hide();
                            $.ajax({
                                url: '@Url.Action("DeleteRecord", "Registration")',
                                dataType: "json",
                                data: "clientId=" + id,
                                success: function (result) {
                                    swal(result.message, {
                                        icon: "success",
                                        closeOnClickOutside: false,
                                    });

                                    loaddata();
                                },
                                failure: function (result) {
                                    swal(result.message, {
                                        icon: "error",
                                    });
                                },
                                error: function (result) {
                                    swal(result.message, {
                                        icon: "error",
                                    });
                                }
                            });
                        } else {
                            //swal("Your file is safe!",{
                            //    icon: "success",
                            //});
                        }
                    });
            }
</script>