
@model Demoproject.Models.ClientVm

@{
    ViewBag.Title = "Registration Form";
}

<br /><br />
<h1>Registration Form</h1>
@using (Html.BeginForm("RegistrationForm", "Registration"))
{

    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedOn)

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Registraion </h4>
        </div>
        <div class="panel-body">
            <fieldset>
                @*<legend>Registraion</legend>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.SubscriptionName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SubscriptionName, new { @class = "form-control", @placeholder = "Subscription Name" })
                        @Html.ValidationMessageFor(model => model.SubscriptionName, "", new { @style = "color:red" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Mobile, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile Number" })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @style = "color:red" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email Id" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red" })
                    </div>
                </div>

                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactPerson, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control", @placeholder = "Contact Person" })
                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @style = "color:red" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @style = "color:red" })
                    </div>
                </div>
                <br /><br /><br /><br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="btnSubmint" value="Submit" class="btn btn-primary">
                        <a class="btn btn-danger" href="@Url.Action("Index", "Registration")">Cancel</a>
                    </div>
                </div>

            </fieldset>
            @{ if (IsPost)
                {
                    // <h4 class="alert alert-danger">@ViewBag.duplicateMsg</h4>
                    <script>

                        $("#btnSubmint").click(function () {
                            alert(@ViewBag.duplicateMsg);

                        });

                    </script>
                }
            }
        </div>
    </div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



